fastapi>=0.111.0
uvicorn[standard]>=0.29.0
python-multipart>=0.0.9
pandas>=2.0.0
scikit-learn>=1.4.0
mlxtend>=0.23.0
scipy>=1.13.0
numpy>=1.26.0
reportlab>=3.6.0
matplotlib>=3.8.0
apscheduler>=3.10.0
networkx>=3.1
